

.propertylist-section .bg-primary{
  
    
    background-color: var(--theme-primary-color)!important;
}
.propertylist-section .bg-secondary{
    background-color: var(--theme-grey-color)!important;
}

.propertylist-section label{
    font-size: 1.6rem;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 16px; 
}

.propertylist-section h1{
    color: var(--theme-dark-color);
    font-size: 1.4rem;
}

.propertylist-section .price{
    
    color: var(--theme-primary-color);
    font-weight: 500;
}


.propertylist-section  .update:hover,.propertylist-section .delete{
    background-color: var(--theme-primary-hover-color)!important;
   }